.event {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white);
    padding: 80px 30px 80px;
}
.event__title {
    font-size: 100px;
    font-weight: 800;
    line-height: 1.4;
    margin-bottom: 50px;
}
.event__info {
    display: flex;
    gap: 80px;
    margin-bottom: 62px;
}
.event__info-item {
    font-size: 30px;
    line-height: 1.4;
}

.event__info-number {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.2;
    margin-right: 8px;
}

.event__buttons {
    margin: auto auto 0;
}

.event__button_reserve {
    font-size: 24px;
    line-height: 1.4;
    color: var(--main);
    background-color: var(--yellow);
    padding: 16px 36px;
    border-radius: 36px;
    margin-bottom: 40px;
}
.event__button_edit {
    line-height: 1.4;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 8px;
    margin: auto;
}

.event__button_edit:hover,
.event__button_edit:hover svg {
    color: var(--yellow);
}


@media (max-width: 1024px) {
    .event__title {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .event__info {
        gap: 50px;
        margin-bottom: 45px;
    }

    .event__info-item {
        font-size: 24px;
    }

    .event__info-number {
        font-size: 50px;
    }
    
    .event__button_reserve {
        font-size: 18px;
        margin-bottom: 20px;
    }
}

@media (max-width: 680px) {
    .event {
        padding: 80px 16px 60px;
    }
    .event__title {
        font-size: 38px;
        line-height: 1.2;
        margin-bottom: 7px;
    }

    .event__info {
        display: grid;
        grid-template-columns: -webkit-max-content -webkit-max-content;
        grid-template-columns: max-content max-content;
        gap: 10px;
        margin-bottom: 30px;
    }
}