.notification {
    position: fixed;
    right: 50px;
    bottom: 50px;
    color: var(--white);
    font-size: 30px;
    border-radius: 16px;
    font-weight: 800;
    line-height: 1.2;
    padding: 32px;
    z-index: 10;
    background-color: var(--main);
    opacity: 0;
    transform: translateX(100%);
}

.notification_show {
    opacity: 1;
    transform: translateX(0);
}

.notification_success {
    padding-right: 76px;
    background: var(--valid) url('../img/check.svg') right 32px center / 36px no-repeat;
}

.notification_error {
    background-color: var(--invalid);
}

@media (max-width: 1024px) {
    .notification {
        right: 40px;
        bottom: 40px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .notification {
        left: 30px;
        right: 30px;
        bottom: 30px;
        font-size: 24px;
    }
}

@media (max-width: 680px) {
    .notification {
        right: 16px;
        bottom: 16px;
        font-size: 18px;
        padding: 12px 24px;
    }
}